<h3>Template Reference Variables</h3>
<p>Unique Variables applied to any DOM node to access it at model side : #</p>
<input type="number" placeholder="Enter customer age" #namefield>
<button class="btn btn-primary" type="button" (click)="pass(namefield)">SEND</button>
<p #mypara (mouseover)="pass2(mypara)">
    HI
</p>
<h3>Attribute Binding</h3>
<p> putting data in attribute from ts side (any script variable) : []</p>
<img title="Sun images" [src]="imgObject.source" [alt]="imgObject.altMessage" [height]="imgObject.imgHeight" [width]="imgObject.imgWidth"> 

<p>Create Pass world filed using attribute binding</p>
<input [type]="fieldType" [placeholder]="fieldMessage">
<input type="checkbox" id="showp" #checkNode (change)="showPass(checkNode.checked)"><label for="showp">Show password</label>
<input type="checkbox" id="showp2" [(ngModel)]="checkBox" (change)="test()" ><label for="showp2">Show password</label>

<div>
    <h3>*ngIf directive</h3>
    <label for="age">Enter your age:</label>
    <input id="age" type="number" [(ngModel)]="voterAge">
    <p *ngIf="voterAge>=18"> <!-- if true the p added else p removed-->
        Welcome!!!!! You are allowed for voting
    </p> 
    <p *ngIf="voterAge<18"> <!-- if true the p added else p removed-->
        Sorry!!!!! You are not allowed for voting
    </p>
</div>
<div>
    <h3>*ngIf else directive</h3>
    <label for="age">Enter your age:</label>
    <input id="age" type="number" [(ngModel)]="voterAge">
    <p *ngIf="voterAge>=18;else elsepart"> <!-- if true the p added else p removed-->
        Welcome!!!!! You are allowed for voting
    </p> 
   <ng-template #elsepart>
        <p> 
            Sorry!!!!! You are not allowed for voting
        </p>
        <p>
            You must be atleast 18 to vote
        </p>
   </ng-template>
</div>