<h3>Template Reference Variables</h3>
<p>Unique Variables applied to any DOM node to access it at model side : #</p>
<input type="number" placeholder="Enter customer age" #namefield>
<button class="btn btn-primary" type="button" (click)="pass(namefield)">SEND</button>
<p #mypara (mouseover)="pass2(mypara)">
    HI
</p>
<h3>Attribute Binding</h3>
<p> putting data in attribute from ts side (any script variable) : []</p>
<img title="Sun images" [src]="imgObject.source" [alt]="imgObject.altMessage" [height]="imgObject.imgHeight" [width]="imgObject.imgWidth"> 

<p>Create Pass world filed using attribute binding</p>
<input [type]="fieldType" [placeholder]="fieldMessage">
<input type="checkbox" id="showp" #checkNode (change)="showPass(checkNode.checked)"><label for="showp">Show password</label>
<input type="checkbox" id="showp2" [(ngModel)]="checkBox" (change)="test()" ><label for="showp2">Show password</label>